<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #ChatId{
            /* display:none; */
        }
    </style>
    <title>Chat</title>
</head>
<body>
    <div><h1>{{.Name}}</h1></div>
    
    <div>
        {{ with .Messages }}
            {{range .}}
                <div>
                    <div><h3>{{.Text}}</h3></div>
                    <div><h3>{{.FirstName}}</h3></div>
                </div>
            {{else}}
                <div><h1>No messages</h1></div>
            {{end}}
        {{end}}
    </div>
    <div>
        <form action="/message_process" method="POST">
            <input name="CHATID" value={{.ChatID}}>
            <input id="message" name="message" type="text" placeholder="MessageText">
            <button name="UserID" value={{.UserID}}>Отправить</button>
        </form>
    </div>
</body>
</html>